<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadcast</title>
    <link rel="stylesheet" href="/broadcast.css">
</head>
<body>
    <h1>broadcast</h1>
 
      <div class="chat-container">
        <ul>
          <% for (let broadcast of broadcasts) { %>
            <li>
              <span class="broadcast-username"><%= broadcast.username %></span>
              <span class="broadcast-message"><%= broadcast.message %></span>
            </li>
          <% } %>
        </ul>
      </div>
    


    <div>
        <form action="/ducks/api/broadcast/" method="post">
            <input name="username" id="username" type="text" placeholder="Name">
            <input name="message" id="message" type="text" placeholder="Message">
            <button id="send">Send</button>
        </form>
    </div>

    <div class="option-buttons">
      <button onclick="location.href='/ducks/api/channel'">Back to all channels</button>
      <button onclick="location.href='/logout'">Log out</button>
    </div>
    
</body>
</html>