<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start!</title>
    <link rel="stylesheet" href="/start.css">
</head>
<body>
    <h1>List over all chat rooms</h1>
    <div class="chatrooms">
        <% for( let chatroom of chatrooms){ %>
            <a href="/ducks/api/channel/<%=chatroom._id%>"><button class="chatroom-buttons"><%= chatroom.name %></button></a>
        <% } %>
    </div>

    <div class="option-buttons">
        <button onclick="location.href='/ducks/api/channel/new'">Create a new chat room</button>
        <button onclick="location.href='/logout'">Log out!</button>
        <button onclick="location.href='/ducks/api/broadcast'">Broadcast (Admin only)</button>
      </div>      
   
</body>
</html>